.container{
  background-color: #EBD9DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  justify-content: flex-start;
  padding-top: 30px;
}

.wishlistDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.wishlistDetails > .wishlistName {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  width: 100%;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.description{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85px;
  width: 70%;
  border-bottom: 2px solid black;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 12px;
  text-align: justify;
  text-align-last: center;

}

.description > p {
  max-width: 500px;
}

.container button{
  height: 30px;
  margin: 5px auto;
  border: 1px solid #AC7088;
  border-radius: 5px;
  background-color: #AC7088;
  cursor: pointer;
  color: white;
  width: 100%;
}

.container button:hover {
  background-color: #eadde0;
  color: #AC7088;
  cursor: pointer;
}

